    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color: lightskyblue;
    }

    .header {
      background-color: lightblue;
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);

      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .nav {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .nav a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 18px;
    }

        }
    .photo{
      height: 50px;
      width: 50px;
    }
